# Konfirgurasi Umum
VERSION=2023
PUBLIC_FOLDER=public
WEB_TITLE=AbieSoft
WEB_DES=Aplikasi
WEB_DOMAIN=127.0.0.1:3000
WEB_SSL=false
WEB_TOKEN=
APIKEY=

# local jika aplikasi masih dilocalhost
# production jika aplikasi sudah online/ sudah digunakan
WEB_STATUS=local

# Sesion key jika value berupa sesi maka url akan menggenerate kode otomatis
# jika berisi grup, maka url berupa nama grup
SESSIONKEY=grup

# Konfigurasi Database   
DBS_HOST=localhost
DBS_NAME=namadatabase
DBS_USER=root
DBS_PASS=root

# Info File Yang Diijinkan Untuk Diupload
FILE_TYPE_IMAGE=jpg,jpeg,gif,png,WebP,svg
FILE_TYPE_MEDIA=mp4,mp3
FILE_TYPE_DOKUMEN=doc,docx,ppt,pptx,xls,xlsx,pdf
FILE_SIZE_IMAGE=1000000
FILE_SIZE_MEDIA=10000000
FILE_SIZE_DOKUMEN=6000000

#Konfigurasi Email
EMAIL_SMTP=
EMAIL_AKUN=
EMAIL_PASSWORD=
EMAIL_PORT=465
EMAIL_PENGIRIM=
EMAIL_NAMA_PENGIRIM=


