# Konfirgurasi Umum
VERSION=2023
PUBLIC_FOLDER=public
WEB_TITLE=AbieSoft
WEB_DES=AbieSoft App System
WEB_DOMAIN=192.168.100.59:3000
WEB_SSL=false
WEB_TOKEN=Qh02991dlMa2991P29729d54a2b21c1cQasdpal42b21cQasddddfsdGHyu38Ghab.ab
APIKEY=plQ12Njn29dea129dfsdG9asdaplun28adG9d542b21dea129

# local jika aplikasi masih dilocalhost
# production jika aplikasi sudah online/ sudah digunakan
WEB_STATUS=local

# Konfigurasi Database   
DBS_HOST=localhost
DBS_NAME=abiesoft
DBS_USER=root
DBS_PASS=qwe123

# Info File Yang Diijinkan Untuk Diupload
FILE_TYPE_IMAGE=jpg,jpeg,gif,png,WebP,svg
FILE_TYPE_MEDIA=mp4,mp3
FILE_TYPE_DOKUMEN=doc,docx,ppt,pptx,xls,xlsx,pdf
FILE_SIZE_IMAGE=1000000
FILE_SIZE_MEDIA=10000000
FILE_SIZE_DOKUMEN=6000000

#Konfigurasi Email
EMAIL_SMTP=
EMAIL_AKUN=
EMAIL_PASSWORD=
EMAIL_PORT=465
EMAIL_PENGIRIM=
EMAIL_NAMA_PENGIRIM=


