<nav class='navigationbottom'>
    <ul>
        <li><i class="las la-home"></i></li>
        <li><i class="las la-heart"></i></li>
        <li><i class="las la-map-marker"></i></li>
        <li>
            <div class='photo'>
                <img src='https://www.perfocal.com/blog/content/images/2021/01/Perfocal_17-11-2019_TYWFAQ_100_standard-3.jpg'>
            </div>
        </li>
    </ul>
</nav>