@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

:root {
    --abu: #f3f6fc;
    --abu2: #e9eef6;
    --abu-hover: #ebeff4;
    --abu2: #e9eef6;
    --abu2-hover: #dce1e8;
    --abu3: #e8f0fe;
    --eee: #eee;
    --bd: #bdbdbd;
    --putih: #ffffff;
    --transparent: rgba(255, 255, 255,.4);
    --hitam: #202124;
    --font: #5f6368;
    --font-disable: #a7a9ac;
    --biru: #275bad;
    --merah: #ad2727;
    --hijau: #51ad27;
    --merah-background: rgba(173, 39, 39, .1);
    --merah-placeholder: rgba(173, 39, 39, .4);
    --biru-o1: rgba(39, 91, 173, .1);
    --fb: #3b5998;
    --google-merah: #db4a39;
    --abiesoft: rgb(55, 49, 99);
    --abiesoft-hover: rgba(55, 49, 99, .1);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html { font-size: 12pt; font-weight: 400; }

body {
    font-family: Roboto, sans-serif;
    background: var(--abu);
    overflow-x: hidden;
    color: var(--font);
}

.bold { font-weight: 500; }

.text-center { text-align: center; }
.gray { color: var(--font-disable); }

.art {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.gradient {
    position: fixed;
    display: block;
    width: 800px;
    height: 800px;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    filter: blur(120px);
    opacity: .7;
    z-index: -1;
}

.monocrome {
    filter: grayscale(1);
}

.mx-auto{ margin-left: auto; margin-right: auto; }
.my-40 { margin-top: 40px; margin-bottom: 40px; }
.my-20 { margin-top: 20px; margin-bottom: 20px; }

a, 
button,
select {
    cursor: pointer;
}

.cover { width: 100%; }
.cover > img { width: 100%; }

a {
    color: var(--hitam);
}

a:hover {
    color: var(--abiesoft);
}

hr {
    border: none;
    border-bottom: 1px solid var(--abu);
    display: block;
    margin: 20px 0;
}

hr.no-margin {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.clear { clear: both; }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-full {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-4,
.single-45,
.single-5,
.single-55,
.single-6,
.single-65,
.single-7,
.single-75,
.single-8 {
    margin: 0 auto;
}

.single-4 { width: 400px; }
.single-45 { width: 450px; }
.single-5 { width: 500px; }
.single-55 { width: 550px; }
.single-6 { width: 600px; }
.single-65 { width: 650px; }
.single-7 { width: 700px; }
.single-75 { width: 750px; }
.single-8 { width: 800px; }

.full {
    width: 100%;
}

.hide {
    opacity: 0;
    cursor: auto;
}




/*
    Container
*/
.container-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    min-height: 80vh;
}


.empty {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.empty > div {
    text-align: center;
}

.empty > div > img{
    width: 80%;
    filter: grayscale(1);
}

.empty > div > label {
    display: block;
    font-weight: 500;
    font-size: 16pt;
    margin-bottom: 10px;
}





/*
    Navbar
*/

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: none;
}

navbar > .brand {
    display: flex;
    justify-content: left;
    align-items: center;
}

navbar > .brand > .toggle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 16pt;
    border-radius: 50%;
    background: none;
    font-weight: 500;
    margin-right: 10px;
}

navbar > .brand > .toggle-menu:hover,
navbar > .brand > .toggle-menu:focus {
    background: var(--transparent);
}

navbar > .brand > .logo {
    background: none;
}

navbar > .brand > .logo > img {
    width: auto;
    height: 30px;
}

navbar > .user-info {
    display: flex;
    justify-content: right;
    align-items: center;
}

navbar > .user-info > .photo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: none;
}

navbar > .user-info > .photo:hover,
navbar > .user-info > .photo:focus {
    background: var(--transparent);
}

navbar > .user-info > .photo > div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

navbar > .user-info > .photo > div > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

navbar > .user-info > .menu {
    display: none;
}

navbar > .user-info > .menu.active {
    display: block;
    position: absolute;
    top: 75px;
    right: 15px;
    width: 365px;
    min-height: 200px;
    background: var(--putih);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
    z-index: 50;
}

navbar > .user-info > .menu.active > .email {
    display: block;
    font-size: 11pt;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

navbar > .user-info > .menu.active > .photo {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

navbar > .user-info > .menu.active > .photo > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

navbar > .user-info > .menu.active > .edit {
    width: 25px;
    height: 25px;
    background: var(--putih);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: 55%;
    cursor: pointer;
}

navbar > .user-info > .menu.active > .edit:hover {
    background: var(--putih);
    color: var(--abiesoft);
}

navbar > .user-info > .menu.active > .edit > i{
    font-size: 14pt;
    font-weight: 600;
}

navbar > .user-info > .menu.active > .nama {
    display: block;
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
    padding: 7px;
}

navbar > .user-info > .menu.active > button {
    display: block;
    padding: 12px 25px;
    background: none;
    border-radius: 25px;
    font-weight: 500;
    color: inherit;
    color: var(--abiesoft);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--font);
}

navbar > .user-info > .menu.active > button:hover {
    background: var(--abiesoft-hover);
}

navbar > .user-info > .menu.active > .button-grup  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

navbar > .user-info > .menu.active > .button-grup > button {
    width: 44%;
    padding: 20px;
    background: var(--abu);
    display: flex;
    justify-content: left;
    align-items: center;
}

navbar > .user-info > .menu.active > .button-grup > button:hover {
    background: var(--abu2-hover);
}

navbar > .user-info > .menu.active > .button-grup > button:first-child {
    border-radius: 35px 5px 5px 35px;
    margin-right: 1px;
}

navbar > .user-info > .menu.active > .button-grup > button:last-child {
    border-radius: 5px 35px 35px 5px;
    margin-left: 1px;
}

navbar > .user-info > .menu.active > .button-grup > button > i {
    margin-right: 10px;
    font-size: 16pt;
}




/*
    Sidebar
*/

.sidebar {
    display: none;
}

.sidebar.active {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.sidebar.active > .block{
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
}

.sidebar > .menu{
    left: -300px;
}

.sidebar.active > .menu{
    display: block;
    position: fixed;
    z-index: 100;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0px;
    border-radius: 0 10px 10px 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    background: var(--putih);
    transition: all 5s;
}

.sidebar.active > .menu > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.sidebar.active > .menu > .top > img {
    width: auto;
    height: 30px;
}

.sidebar.active > .menu > .top > .close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: 600;
    font-size: 13pt;
    border-radius: 50%;
    background: var(--abu);
    color: var(--font);
    width: 35px;
    height: 35px;
}

.sidebar.active > .menu > .top > .close:hover {
    font-size: 16pt;
}

.sidebar.active > .menu > ul {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 80px;
    left: 0;
    padding: 15px;
    overflow: auto;
}

.sidebar.active > .menu > ul::-webkit-scrollbar {
    width: 8px;
    background: none;
}

.sidebar.active > .menu > ul::-webkit-scrollbar-track {
    width: 8px;
    background: var(--abu);
    border-radius: 3px;
}

.sidebar.active > .menu > ul::-webkit-scrollbar-thumb {
    width: 8px;
    background: var(--abu-hover);
    border-radius: 3px;
}

.sidebar.active > .menu > ul > label {
    display: block;
    font-weight: 500;
    margin: 20px 0px 10px 0;
    font-size: 10pt;
}

.sidebar.active > .menu > ul > li > a {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--font);
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 11pt;
    margin: 5px 0;
}

.sidebar.active > .menu > ul > li > a > i {
    margin-right: 8px;
    font-size: 16pt;
}

.sidebar.active > .menu > ul > li.active > a,
.sidebar.active > .menu > ul > li > a:focus,
.sidebar.active > .menu > ul > li > a:hover {
    background: var(--abu);
}

.sidebar.active > .menu > ul > li > a.ic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font);
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 11pt;
    margin: 5px 0;
}

.sidebar.active > .menu > ul > li > a.ic > span > i {
    margin-right: 8px;
    font-size: 16pt;
}

.sidebar.active > .menu > ul > li > a.ic > i {
    font-size: 12pt;
}

.sidebar.active > .menu > ul > li > ul {
    display: none;
}

.sidebar.active > .menu > ul > li.active > ul {
    display: block;
    margin-left: 25px;
}

.sidebar.active > .menu > ul > li > ul > li > a{
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--font);
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 11pt;
}

.sidebar.active > .menu > ul > li > ul > li.active > a,
.sidebar.active > .menu > ul > li > ul > li > a:focus,
.sidebar.active > .menu > ul > li > ul > li > a:hover {
    background: var(--abu);
}

.sidebar.active > .menu > ul > li > ul > li > a > i {
    margin-right: 8px;
    font-size: 16pt;
}

.sidebar.active > .menu > .line {
    position: absolute;
    right: 0;
    bottom: 70px;
    left: 0;
}

.sidebar.active > .menu > .bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    right: 0;
    bottom: 5px;
    left: 0;
}

.sidebar.active > .menu > .bottom > .seting,
.sidebar.active > .menu > .bottom > .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: 600;
    font-size: 13pt;
    border-radius: 50%;
    background: var(--abu);
    color: var(--font);
    width: 35px;
    height: 35px;
}

.sidebar.active > .menu > .bottom > .seting:hover,
.sidebar.active > .menu > .bottom > .logout:hover {
    font-size: 16pt;
}

.sidebar.active > .menu > .bottom > .date {
    font-size: 10pt;
    font-weight: 600;
}









/*
    Footer
*/

.footer {
    padding: 40px;
    text-align: center;
    font-size: 11pt;
    font-weight: 500;
}









/*
    Modal
*/

.modal { 
    display: none;
}

.modal.active {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.active > .modal-box {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
}

.modal.active > .profile {
    display: block;
    position: fixed;
    z-index: 100;
    width: 320px;
    min-height: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    background: var(--putih);
}

.modal.active > .profile > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modal.active > .profile > .top > label {
    font-weight: 500;
    font-size: 14pt;
}


.modal.active > .profile > .top > .close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: 600;
    font-size: 13pt;
    border-radius: 50%;
    background: var(--abu);
    color: var(--font);
    width: 35px;
    height: 35px;
}

.modal.active > .profile > .top > .close:hover {
    font-size: 16pt;
}

.modal.active > .profile > .photo {
    margin: 0;
}

.modal.active > .profile > .photo > img {
    width: 100%;
}

.modal.active > .profile > .form {
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal.active > .profile > .form > form:first-child > .grup > div {
    width: 169px;
    padding: 14px 0;
    text-align: center;
    font-weight: 600;
    display: block;
    border-radius: 0 0 0 10px;
    font-size: 11pt;
    background-color: var(--abu);
}

.modal.active > .profile > .form > form:first-child > input[type='file'] {
    width: 50%;
    height: 40px;
    margin-top: -30px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.modal.active > .profile > .form > form:last-child > button {
    width: 150px;
    background-color: var(--abu);
    color: var(--merah);
    padding: 15px 10px;
    font-size: 11pt;
    text-align: center;
    border-radius: 0 0 10px 0;
    font-weight: 600;
}

.modal.active > .profile > .form > form:last-child > button:hover {
    background-color: var(--abu3);
}



.badge {
    position: relative;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 10pt;
    border-radius: 10px;
    font-weight: 500;
}







.merah {
    background-color: var(--merah);
    color: var(--putih);
}

.biru {
    background-color: var(--biru);
    color: var(--putih);
}

.hijau {
    background-color: var(--hijau);
    color: var(--putih);
}






.list > table {
    width: 100%;
}

.list > table > tr > td {
    border-collapse: collapse;
    vertical-align: top;
    padding: 20px;
}





/*

    Halaman Wellcome
*/

.single-4 > .brand {
    max-width: 100%;
    text-align: center;
}

.single-4 > .brand > .logo {
    text-align: center;
}

.single-4 > .brand > .logo > img{
    width: 180px;
}

.single-4 > .brand > .label {
    margin: 20px 0;
    font-size: 14pt;
}

.single-4 > .brand > .grup-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-4 > .brand > .grup-button > button {
    padding: 8px 15px;
    background: var(--abiesoft);
    color: var(--putih);
    border-radius: 4px;
    margin: 0 2px;
}